@import url('reset.css');

body {
	background: white;
	line-height: 140%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans;
	font-size: 0.95em;
	}
.header {
	background: #1C140D;
	padding: 0.5em 1em;
	}
.notify {
	border: 3px dashed #FF9900;
	width: auto;
	padding: 0.5em;
	text-align: center;
	}
.logo h1 {
	color: white;
	font-family: 'Amaranth', 'Helvetica Neue', Helvetica, Arial, sans;
	font-size: 2em;
	display: inline-block;
	}
.box {
	background: white;
	border: 5px solid #CBE86B;
	padding: 0em 1em 1em 1em;
	}
.left {
	width: 30%;
	margin: 1%;
	margin-top: 2em;
	float: left;
	}
.right {
	width: 50%;
	margin: 1%;
	margin-top: 2em;
	float: right;
	}
.box_title {
	font-family: 'Amaranth', 'Helvetica Neue', Helvetica, Arial, sans;
	font-size: 1.4em;
	display: inline;
	position: relative;
	background: white;
	width: auto;
	padding: 0.25em;
	top: -1em;
	}
.header h3 {
	display: inline;
	color: white;
	font-size: 1em;
	}
.navigation {
	position: absolute;
	right: 1em;
	top: 0.5em;
	}
.page {
	clear: both;
	margin: 0.5em;
	margin-top: 1em;
	}
a {
	text-decoration: none;
	}
.nav ul li {
	display: inline;
	padding: 0 1em;
	}
.nav ul li a {
	color: white;
	border-bottom: 1px dotted white;
	}
.nav ul li a:hover {
	border-bottom: 1px solid white;
	}
.querybox dl {
	padding-top: 1em;
	position: relative;
	float: left;
	width: 50%;
	}
.querybox dl dt {
	font-weight: 700;
	}
.searchbox {
	width: 95%;
	border: 2px solid #CBE86B;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans;
	}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background: #1C140D;
	width: 100%;
	}
.hidden {
	display: none;
	}
.feedback_button {
	float: right;
	margin-right: 0.5em;
	padding: 0.5em;
	}
.feedback_b {
	color: white;
	}
.feedback {
	position: fixed;
	background: white;
	right: 1.5em;
	bottom: 3em;
	z-index: 5;
	border: 5px solid #CBE86B;
	padding: 1em;
	}
input.comment {
	width: 95%;
	border: 1px solid #CBE86B;
	padding: 0.5em;
	}
input.feedback_email {
	width: 40%;
	border: 1px solid #CBE86B;
	padding: 0.5em;
	}

/*-- Isotope --*/
/**** Isotope Filtering ****/

.isotope-item {
z-index: 2;
}
.isotope-hidden.isotope-item {
pointer-events: none;
z-index: 1;
}
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
transition-duration: 0.5s;
}
.isotope {
-webkit-transition-property: height, width;
-moz-transition-property: height, width;
transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
-moz-transition-property:    -moz-transform, opacity;
transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
transition-duration: 0s;
}
