@import url('reset.css');

/* Page layout */
body {
	background: url('bg.png') #E0E4CC top left repeat;
	}
* {
	line-height: 140%;
	}

.header {
	border-top: 20px solid #F38630;
	padding: 1.5em 1em;
	position: relative;
	}

.page { margin: auto; }

.navigation {	
	position: absolute;
	right: 2em;
	bottom: 1em;
	margin-left: 150px;
	}
.nav ul li {
	display: inline;
	padding: 0 1em;
	}

.main { 
	margin-top: 3em;
	padding: 0.5em 1em;
	}

.column {
	float: left;
	width: 30%;
	padding: 0 1.5%;
	}

.querybox, .singlebox {
		background: #F7FDFA;
		border: 1px dotted black;
		padding: 1em;
		margin: 1em 0;
	}
.singlebox {
	float: left;
	clear: bottom;
	height: 25em;
	margin-left: 1em;
	}
.alert {
	background: #F7FDFA; 
	border: 2px dashed #FA6900;
	padding: 1.5em;
	margin: 0.5em;
	}
.alert ul {
	margin-top: 0.5em;
	}
.alert ul li {
	display: inline;
	background: #F5F3E5;
	border: 1px solid #D9FB19;
	margin: 0 0.25em;
	padding: 0.25em;
	}
dt, .form_button {
	margin-top: 1em;
	}
.footer {
	clear: both;
	border-bottom: 20px solid #FA6900;
	}

/* Typography */
a {
	text-decoration: none;
	border-bottom: 1px dotted black;
	color: black;
	}
a.logo {
	border-bottom: none;
	}
.column a:hover, .nav ul li a:hover {
	border-bottom: 1px solid black
	}
h1, h2, h3, dt, .logo {
	font-family:  'Amaranth', Helvetica, sans-serif;
	color: #FA6900;
	}
p {
	font-size: 1em;
	margin-top: 0.75em;
	}
body, p, .nav, textarea, li {
	font-family: 'Lucida Sans', Helvetica, Arial, sans-serif;
	}
.logo {
	font-size: 3em;
	}
.logo a {
	color: black;
	text-decoration: none;
	}
h1 {
	font-size: 2em;
	margin-top: 0.5em;
	text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.25);
	}
h2, .nav ul {
	text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.33);
	font-size: 1.3em;
	}
h3 {
	font-size: 1.1em;
	}
dt {
	font-size: 0.9em;
	}
.nav ul a.active {
	border-bottom: 2px solid black;
	}
.nav ul a:hover {
	border-bottom: 1px dotted black;
	}
textarea {
	width: 90%;
	margin: auto;
	}
