<!doctype html>
<title> CARPY | Comprehensive Annotated Repository of Proteins in Yeast </title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<div class=header>
	<a class=logo href="{{ url_for('index') }}"><h1>CARPY |</h1></a><h3> comprehensive annotated repository of proteins in yeast</h3>
	<div class=navigation>{% block nav %}{% endblock %}</div>
</div>
<div class=page>
	{% block body %}{% endblock %}
</div>
<div class=footer>
<div class='feedback_button'>
	<a href=#feedback class='feedback_b off'>feedback</a>
</div>
</div>
<div class='hidden feedback'>
<h2 class=box_title>Feedback</h2><br />
<form method=post action="">
	<dl>
		<dt>Comment, feature request, or bug report</dt>
		<dd><input class=comment name=comment /></dd>
		<dt>(Optional) Your email, so we can contact you about your feedback</dt>
		<dd><input type=email class=feedback_email name=feedback_email /></dd>
		<dd><input type=submit class=feedback_submit value=submit />
	</dl>
</form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-1.6.2.min.js') }}"><\/script>')</script>
<script src="{{ url_for('static', filename='jquery.isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='modernizr.js') }}"></script>
<script src="{{ url_for('static', filename='feedback.js') }}"></script>
{% block scripts %}{% endblock %}
</html>
