{% extends "base.html" %}

{% block nav %}
	<div class=nav>
		<ul>
			<li><a href="{{ url_for("index") }}">Home</a></li>
			<li><a href="{{ url_for("about") }}">About</a></li>
			<li><a href="{{ url_for("cite") }}">Cite</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}
{% if not_found %}
<div class=alert>
	<h3>Warning: the following IDs were not found in the database:</h3>
	<ul>
	{% for nf in not_found %}
		<li>{{ nf }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
<div class=main>
<h3>Sort items by:</h3>
<ul class='sort-by'>
	<li><a href='#genename'>Gene name</a></li>
	<li><a href='#systematicname'>Systematic name</a></li>
</ul>
<div class=half>
	<h2>Enriched properties</h2>
	{% if not enriched %}
		No statistically significant enrichment found
	{% else %}
	<table>
	<tr class=table_head>
		<td><h3>Property</h3></td>
		<td><h3>adjusted<br />p-value</h3></td>
		<td><h3>Difference (quantitative) or<br />Odd ratio (non-quantitative)</h3></td>
	</tr>
	{%- for k,v in enriched|dictsort(false, 'value') %}
	<tr>
		<td class='sort-by'><a href='#{{k}}'>{{ name_dict[k] }}</a></td>
		<td>{{ v[0] }}</td>
		{%- if v[2] == 'x' %}
			<td>{{ v[1]|round(2) }}{{ v[2] }}</td>
		{% else %}
			<td>{{ v[2] }}{{ v[1]|round(2) }}</td>
		{% endif %}
	</tr>
	{% endfor %}
	</table>
	{% endif %}
	<h2>Deenriched properties</h2>
	{% if not deenriched %}
		No statistically significant deenrichment found
	{% else %}
	<table>
	<tr class=table_head>
		<td><h3>Property</h3></td>
		<td><h3>adjusted p-value</h3></td>
		<td><h3>Difference (quantitative) or<br />Odd ratio (non-quantitative)</h3></td>
	</tr>
	{%- for k,v in deenriched|dictsort(false, 'value') %}
	<tr>
		<td class='sort-by {{ k }}'><a href='#{{k}}'>{{ name_dict[k] }}</a></td>
		<td>{{ v[0] }}</td>
		{% if v[2] == 'x' %}
			<td>{{ v[1]|round(2) }}{{ v[2] }}</td>
		{% else %}
			<td>{{ v[2] }}{{ v[1]|round(2) }}</td>
		{% endif %}
	</tr>
	{% endfor %}
	</table>
	{% endif %}
</dl>
	
</div>
<div class=half>
	<div class=sortable>
	{%- for r in result %}
		<div class='protein {{ r.systematicname }}'>
			<h1 class=genename>{{ r.genename }}</h1>
			<h2 class=systematicname><a href="{{ url_for('single', id=r.systematicname) }}">{{ r.systematicname }}</a></h2>
			<div class=shown></div>
		</div>
	{% endfor %}
	</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
	{%- for r in result %}
	$('.{{ r.systematicname }}').attr({
		{%- for k,v in enriched|dictsort %}
			{{ k }}: '{{ r[k] }}',
		{% endfor %}
		{%- for k,v in deenriched|dictsort %}
			{{ k }}: '{{ r[k] }}',
		{% endfor %}
	});
	{% endfor %}
	$('.sortable').isotope({
		sortAscending: false,
		getSortData : {
			genename : function ( $elem ) {
				return $elem.find('.genename').text();
				},
			systematicname : function ( $elem ) {
				return $elem.find('.systematicname').text();
				},
		//	cai : function( $elem ) {
		//		if($elem.find('.cai')=='cai') {
		//			return parseFloat( $elem.attr('val'));
		//			}
		//		}
	//	Want to be able to define these using variables
			{% for k,v in enriched|dictsort %}
			{{ k }} : function ( $elem ) {
			return parseFloat( $elem.attr('{{ k }}'));
			},
			{% endfor %}
			{% for k,v in deenriched|dictsort %}
			{{ k }} : function ( $elem ) {
			return parseFloat( $elem.attr('{{ k }}'));
			},
			{% endfor %}
			}
		});
	$('.sort-by a').click(function() {
		var sortName = $(this).attr('href').slice(1);
		$('.sortable').isotope({ sortBy : sortName });
		{%- for r in result %}
		$('.{{ r.systematicname }} .shown').html(sortName+':<br />'+$('.{{r.systematicname}}').attr(sortName));
		{% endfor %}
		return false;
		});
});
</script>
{% endblock %}
