{% extends "base.html" %}

{% block nav %}
	<div class=nav>
		<ul>
			<li><a href="{{ url_for("index") }}">Home</a></li>
			<li><a href="{{ url_for("about") }}">About</a></li>
			<li><a href="{{ url_for("cite") }}">Cite</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}
{% if not_found %}
<div class=alert>
	<h3>Warning: the following IDs were not found in the database:</h3>
	<ul>
	{% for nf in not_found %}
		<li>{{ nf }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
<div class=main>
{% for k in params.keys() %}
	<div class=singlebox>
		{% if params[k][1] %}
		<h2><a href='{{ url_for("single", yorf=k) }}'>{{ k }} | {{ params[k][1] }}</a></h2>
		{% else %}
		<h2><a href='{{ url_for("single", yorf=k) }}'>{{ k }}</a></h2>
		{% endif %}
		{% if params[k][2] %}
		<h1>{{ params[k][2] }}</h1>
		{% endif %}
		<dl>
			<dt>Molecular Weight
			<dd>{{ params[k][2] }}
			<dt>pI
			<dd>{{ params[k][3] }}
			<dt>Length
			<dd>{{ params[k][4] }}
			{% if params[k][5] %}
			<dt>Localizes to
			<dd>{{ params[k][5] }}
			{% endif %}
			<dt>Disorder
			<dd>{{ params[k][6] }}
			<dt>MS interactors
			{% if params[k][8] %}
			<dd>{{ params[k][8] }}
			{% else %}
			<dd>N.D.
			{% endif %}
			<dt>Yeast two-hybrid interactors
			{% if params[k][9] %}
			<dd>{{ params[k][9] }}
			{% else %}
			<dd>N.D.
			{% endif %}
		</dl>
	</div>
{% endfor %}
</div>
{% endblock %}
