{% extends "base.html" %}

{% block nav %}
	<div class=nav>
		<ul>
			<li><a href="{{ url_for("index") }}">Home</a></li>
			<li><a href="{{ url_for("about") }}">About</a></li>
			<li><a href="{{ url_for("cite") }}">Cite</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}
{% if not_found %}
<div class=alert>
	<h3>Warning: the following IDs were not found in the database:</h3>
	<ul>
	{% for nf in not_found %}
		<li>{{ nf }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
<div class=main>
	<div class=single>
		<h1>{{ result['genename'] }}</h1>
		<h2>{{ result['systematicname'] }} | <a href="http://www.yeastgenome.org/cgi-bin/locus.fpl?dbid={{ result['sgid'] }}">{{ result['sgid'] }}</a></h2>
		<dl class=category>
			<dt>Biochemical Properties</dt>
			<dd>Molecular Weight: {{ result['molecularweight']/1000|round(2) }} kDa</dd>
			<dd>Length: {{ result['proteinlength'] }} amino acids</dd>
			<dd>pI: {{ result['pi'] }}</dd>
			{% if result['essential'] == 1 %}
			<dd>Essential</dd>
			{% endif %}
			{% if result['halflife'] != '' %}
			<dd>Half life: {{ result['halflife'] }} min</dd>
			{% endif %}
			{% if result['localization'] != '' %}
			<dd>Localization: {{ result['localization'] }}</dd>
			{% endif %}
			<dd>GRAVY score: {{ result['gravyscore'] }}</dd>
			<dd>Aromaticity score: {{ result['aromaticityscore'] }}</dd>
			<dd>ORF ID: {{ result['orfid'] }}</dd>
			<dd>Gene type: {{ result['genetype'] }}</dd>
		</dl>
		<dl class=category>
			<dt>Identified Interactions</dt>
			<dd>Mass Spec: {{ result['interactorsms'] }}</dd>
			<dd>Yeast two hybrid: {{ result['interactorsyeast'] }}</dd>
			<dd>Hub type: {{ result['hubtype'] }}</dd>
		</dl>
		<dl class=category>
			<dt>Structure &amp; Function</dt>
			<dd>Percent disorder (DisoPred2): {{ result['disorder']|round(2) }}</dd>
			<dd>Percent disorder (IUPred long): {{ result['iupredlong']|round(2) }}</dd>
			<dd>Percent disorder (IUPred short): {{ result['iupredshort']|round(2) }}</dd>
			<dd>Disordered binding/Disordered length (long): {{ result['percentiupredlongbinding']|round(2) }}</dd>
			<dd>Disordered binding/Disordered length (short): {{ result['percentiupredshortbinding']|round(2) }}</dd>
		</dl>
		<dl class=category>
			<dt>Aggregation &amp; Prion-like</dt>
			<dd>Aggregation-prone (Tango): {% if result['tango'] == 1 %}yes{% else %}no{% endif %}</dd>
			<dd>Prion-like (Weissman): {% if result['weissmanprion'] == 1 %}yes{% else %}no{% endif %}</dd>
			<dd>Prion-like (Gerstein): {% if result['gersteinprion'] == 1 %}yes{% else %}no{% endif %}</dd>
			<dd>Prion-like (Lindquist): {% if result['lindquistprion'] == 1 %}yes{% else %}no{% endif %}</dd>
		</dl>
		<dl class=category>
			<dt>Codons &amp; Amino Acids</dt>
			<dd>Codon adaptation index: {{ result['cai'] }}</dd>
			<dd>Codon bias: {{ result['codonbias'] }}</dd>
			<dd>FOP score: {{ result['fopscore'] }}</dd>
			<dd>Evolutionary rate: {{ result['evolutionaryrate'] }}</dd>
			<dd>Alanines: {{ result['ala'] }} ({{(result['percentala']*100)|round(2)}}%)</dd>
			<dd>Arginines: {{ result['arg'] }} ({{(result['percentarg']*100)|round(2)}}%)</dd>
			<dd>Asparagines: {{ result['asn'] }} ({{(result['percentasn']*100)|round(2)}}%)</dd>
			<dd>Aspartates: {{ result['asp'] }} ({{(result['percentasp']*100)|round(2)}}%)</dd>
			<dd>Cysteines: {{ result['cys'] }} ({{(result['percentcys']*100)|round(2)}}%)</dd>
			<dd>Glutamines: {{ result['gln'] }} ({{(result['percentgln']*100)|round(2)}}%)</dd>
			<dd>Glutamates: {{ result['glu'] }} ({{(result['percentglu']*100)|round(2)}}%)</dd>
			<dd>Glycines: {{ result['gly'] }} ({{(result['percentgly']*100)|round(2)}}%)</dd>
			<dd>Histidines: {{ result['his'] }} ({{(result['percenthis']*100)|round(2)}}%)</dd>
			<dd>Isoleucines: {{ result['ile'] }} ({{(result['percentile']*100)|round(2)}}%)</dd>
			<dd>Leucines: {{ result['leu'] }} ({{(result['percentleu']*100)|round(2)}}%)</dd>
			<dd>Lysines: {{ result['lys'] }} ({{(result['percentlys']*100)|round(2)}}%)</dd>
			<dd>Methionines: {{ result['met'] }} ({{(result['percentmet']*100)|round(2)}}%)</dd>
			<dd>Phenylalanines: {{ result['phe'] }} ({{(result['percentphe']*100)|round(2)}}%)</dd>
			<dd>Prolines: {{ result['pro'] }} ({{(result['percentpro']*100)|round(2)}}%)</dd>
			<dd>Serines: {{ result['ser'] }} ({{(result['percentser']*100)|round(2)}}%)</dd>
			<dd>Threonines: {{ result['thr'] }} ({{(result['percentthr']*100)|round(2)}}%)</dd>
			<dd>Tryptophans: {{ result['trp'] }} ({{(result['percenttrp']*100)|round(2)}}%)</dd>
			<dd>Tyrosines: {{ result['tyr'] }} ({{(result['percenttyr']*100)|round(2)}}%)</dd>
			<dd>Valines: {{ result['val'] }} ({{(result['percentval']*100)|round(2)}}%)</dd>
	</div>
</div>
{% endblock %}
